*~
*.pyc

*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.png
*.xml

*.1
*.mp
*.t1

condor.cfg
*.root
*.csv
*.d
condor.cfg
checkrun.h
feed*.h
*file.h

plotter/datacards/*
fitDiagnostics.root.*

*.tar.gz
*.tgz

*test*
!test.py

slimmer/data/jec/*.txt

*.pb
slimmer/include/roccor/*
slimmer/data/roccor
analysis/fit/*.C
analysis/fit/*/*.C
*.cnf
nanoslimmer/CMSSW_*
