'pfmet', 7, 150, 290, 'pfmet'
'n_centerjet', 10, 0, 10, 'n_centerjet'
'npv', 50, 0, 50, 'npv'
'jet1_cmva', 42, -1.05, 1.05, 'jet1_cmva'
'jet2_cmva', 42, -1.05, 1.05, 'jet2_cmva'
'jet1_pt', 25, 0, 300, 'jet1_pt'
'jet2_pt', 25, 0, 300, 'jet2_pt'
'jet1_eta', 25, -2.5, 2.5, 'jet1_eta'
'jet2_eta', 25, -2.5, 2.5, 'jet2_eta'
'jet1_nef', 25, 0, 1.0, 'jet1_nef'
'jet1_cef', 25, 0, 1.0, 'jet1_cef'
'jet1_nhf', 25, 0, 1.0, 'jet1_nhf'
'jet1_chf', 25, 0, 1.0, 'jet1_chf'
'jet1_efrac', 25, 0, 1.0, 'jet1_efrac'
'jet1_hfrac', 25, 0, 1.0, 'jet1_hfrac'
'jet2_nef', 25, 0, 1.0, 'jet2_nef'
'jet2_cef', 25, 0, 1.0, 'jet2_cef'
'jet2_nhf', 25, 0, 1.0, 'jet2_nhf'
'jet2_chf', 25, 0, 1.0, 'jet2_chf'
'jet2_efrac', 25, 0, 1.0, 'jet2_efrac'
'jet2_hfrac', 25, 0, 1.0, 'jet2_hfrac'
'jet_pt', 50, 0, 300, 'jet_pt'
'jet_eta', 25, -5.0, 5.0, 'jet_eta'
'n_bcmva_loose', 10, 0, 10, 'n_bcmva_loose'
